flow/flow.json
[{"id":"206926dcd8db3cba","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"4f795bb331f77cff","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.description.summary","propertyType":"msg","rules":[{"t":"eq","v":"daltonismo","vt":"str"},{"t":"eq","v":"pippo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["2d883471ed4aaa78"],[]]},{"id":"07c24bdf080b4462","type":"server-events","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":1,"event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":660,"wires":[["afb96f4a86a812d1"]]},{"id":"b6e280c097eedc63","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":660,"wires":[["d9e9422cfc82853e"]]},{"id":"cffbac1ced485455","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Iniziamo?\",\"event_id\":\"actionable_notification_00\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":280,"wires":[[]]},{"id":"fae0bce66148ee75","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Che numero era?\",\"event_id\":\"actionable_notification_55\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4010,"y":420,"wires":[[]]},{"id":"5b61637509958a99","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1180,"y":280,"wires":[["cffbac1ced485455"]]},{"id":"6edc441a6824c8fb","type":"server-events","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":1,"event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":980,"wires":[["bd6a6cc0c6ee605a"]]},{"id":"bd6a6cc0c6ee605a","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_22","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":980,"wires":[["c412728be3926b3e"]]},{"id":"c412728be3926b3e","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"neq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":980,"wires":[["f480aa7f23196842"],["658b69b3351e23c0"]]},{"id":"de4507174b734088","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Che numero era?\",\"event_id\":\"actionable_notification_33\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4730,"y":1000,"wires":[[]]},{"id":"a3d845312e1876cc","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":980,"wires":[["26b1f4fdb3072725"]]},{"id":"b4c791753dc95df3","type":"server-events","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":1,"event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":1240,"wires":[["b2f2d361f79c6eb1"]]},{"id":"b2f2d361f79c6eb1","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_33","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1240,"wires":[["88815e3158adb956"]]},{"id":"88815e3158adb956","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"7","vt":"str"},{"t":"neq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1240,"wires":[["aeb5ae672dad28d8"],["51b1e1effd3c64f9"]]},{"id":"5814476b44710f35","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Che numero era?\",\"event_id\":\"actionable_notification_44\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4790,"y":1260,"wires":[[]]},{"id":"edf064ca2a42f405","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":1240,"wires":[["f80935481e7f14a7"]]},{"id":"288c3b595a658953","type":"server-events","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":1,"event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":1540,"wires":[["10a4bfc422864047"]]},{"id":"10a4bfc422864047","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_44","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1540,"wires":[["7bf30ed173817013"]]},{"id":"7bf30ed173817013","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"neq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1540,"wires":[["0201f3cb4624012b"],["03a2be6f32be9e0c"]]},{"id":"7fbcfefab47c6de0","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":1540,"wires":[["4a0440cabd1196a6"]]},{"id":"403ae5d4459f20d8","type":"server-events","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":1,"event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":1840,"wires":[["b64bebb116285134"]]},{"id":"b64bebb116285134","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_55","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1840,"wires":[["77c614bc63c7a734"]]},{"id":"77c614bc63c7a734","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"str"},{"t":"neq","v":"8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1840,"wires":[["d15d62da39633d84"],["c3e122ecb18727a3"]]},{"id":"b53eab5385a5c154","type":"alexa-remote-event","z":"206926dcd8db3cba","name":"","account":"6fec3559ef62b232","event":"ws-device-activity","x":90,"y":280,"wires":[["4f795bb331f77cff"]]},{"id":"c12deffb0a7f0e70","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Salve, questo è un test del daltonismo autogestito, verranno visualizzati dei numeri sulla crhomecast, presta attenzione e rispondi come più opportuno\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":280,"wires":[["5b61637509958a99"]]},{"id":"6f200e79ecfaf3b5","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"str"},{"t":"neq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":660,"wires":[["8accf9b32c5a77f6"],["3ce6f877952be0f3"]]},{"id":"a7cb61b4758f3464","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ip\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":400,"wires":[["9c5bfbc83e72c8be"]]},{"id":"28040c1908f95ad2","type":"server-events","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":1,"event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"payload.name","propertyType":"msg","value":"","valueType":"eventData"}],"x":140,"y":400,"wires":[["e6006e453a170c2b"]]},{"id":"777c8d5adb29f9ed","type":"ui_ui_control","z":"206926dcd8db3cba","name":"","events":"all","x":100,"y":100,"wires":[["8f7008aeb6b6ece9","5cfe9946e94e2f0a"]]},{"id":"8f7008aeb6b6ece9","type":"ui_text_input","z":"206926dcd8db3cba","name":"","label":"","tooltip":"","group":"460284767f342b79","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":300,"y":100,"wires":[["5432801e445de429"]]},{"id":"c9f266525568b7ad","type":"ui_button","z":"206926dcd8db3cba","name":"","group":"460284767f342b79","order":2,"width":0,"height":0,"passthru":false,"label":"IMPOSTA","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":760,"y":100,"wires":[["6639767e231f1c10"]]},{"id":"686b82c581220521","type":"ui_text","z":"206926dcd8db3cba","group":"460284767f342b79","order":2,"width":0,"height":0,"name":"","label":"IP:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1290,"y":40,"wires":[]},{"id":"1d07037bde14d4c8","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"payload","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":100,"wires":[["686b82c581220521","2eeef2027dd67d3b"]]},{"id":"5432801e445de429","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"UserInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":100,"wires":[["c9f266525568b7ad"]]},{"id":"6639767e231f1c10","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UserInput","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":100,"wires":[["1d07037bde14d4c8"]]},{"id":"2eeef2027dd67d3b","type":"function","z":"206926dcd8db3cba","name":"function 2","func":"var ip = {}\nip = {\n    ip:msg.payload\n}\nmsg.payload=ip\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":100,"wires":[["191667d4d32d57e0"]]},{"id":"191667d4d32d57e0","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1490,"y":100,"wires":[["89bc253506aeb260"]]},{"id":"922209ba57afafed","type":"file in","z":"206926dcd8db3cba","name":"prima iterazione","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":900,"y":400,"wires":[["75f1cd556705988b"]]},{"id":"22613060bef542a8","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_response_type","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":400,"wires":[["0d5c0163c857c896","a42aac0c872ee87b"]]},{"id":"afb96f4a86a812d1","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_11","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":660,"wires":[["6f200e79ecfaf3b5"]]},{"id":"e6006e453a170c2b","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_00","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":400,"wires":[["22613060bef542a8"]]},{"id":"213f65361829308b","type":"cast-to-client","z":"206926dcd8db3cba","name":"primo cast","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":1730,"y":400,"wires":[["69dfa31bf996ca69"]]},{"id":"8845c7d345c69e36","type":"function","z":"206926dcd8db3cba","name":"function 4","func":"msg.payload = msg.payload.trim()\nvar ip = (msg.payload)\nmsg.ip = ip.replace(/{|\"|ip|:|}|↵|/gi, '')\nmsg.payload = ip.replace(/{|\"|ip|:|}|↵|/gi, '')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":100,"wires":[["138d1f2f016f3f45"]]},{"id":"89bc253506aeb260","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1730,"y":100,"wires":[["8845c7d345c69e36"]]},{"id":"138d1f2f016f3f45","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2110,"y":100,"wires":[[]]},{"id":"75f1cd556705988b","type":"function","z":"206926dcd8db3cba","name":"function 5","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":400,"wires":[["a7cb61b4758f3464"]]},{"id":"9c5bfbc83e72c8be","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"https://www.colorlitelens.com/images/Ishihara/Ishihara_02.jpg","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":400,"wires":[["213f65361829308b","60f417a912e83049"]]},{"id":"d9e9422cfc82853e","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1670,"y":660,"wires":[["ec7b77bd74cfeab0"]]},{"id":"ec7b77bd74cfeab0","type":"function","z":"206926dcd8db3cba","name":"function 6","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":660,"wires":[["5daea1cbbc38fc90"]]},{"id":"5daea1cbbc38fc90","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ip\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":660,"wires":[["57600c6ddeffb13a"]]},{"id":"26b1f4fdb3072725","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1690,"y":980,"wires":[["44e2033ec1ab1d0e"]]},{"id":"44e2033ec1ab1d0e","type":"function","z":"206926dcd8db3cba","name":"function 7","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":980,"wires":[["ad2df3f335463f01"]]},{"id":"ad2df3f335463f01","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ip\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":980,"wires":[["f8c2601c7f0b1d33"]]},{"id":"f80935481e7f14a7","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1670,"y":1240,"wires":[["05ad2edbbeb28ee9"]]},{"id":"05ad2edbbeb28ee9","type":"function","z":"206926dcd8db3cba","name":"function 8","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":1240,"wires":[["48c5ddf84daa46b4"]]},{"id":"48c5ddf84daa46b4","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ip\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":1240,"wires":[["e841f9650ee6ad87"]]},{"id":"4a0440cabd1196a6","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1670,"y":1540,"wires":[["b835f4664770a3c2"]]},{"id":"b835f4664770a3c2","type":"function","z":"206926dcd8db3cba","name":"function 9","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":1540,"wires":[["12bf7f7a8f52fe05"]]},{"id":"12bf7f7a8f52fe05","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ip\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":1540,"wires":[["1c065acd518c6738"]]},{"id":"60ee2a3a3f2cab8d","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1730,"y":1840,"wires":[["65c3f0f09cc4d405"]]},{"id":"65c3f0f09cc4d405","type":"function","z":"206926dcd8db3cba","name":"function 10","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":1840,"wires":[["fce60417378279cf"]]},{"id":"fce60417378279cf","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ip\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1840,"wires":[["f7b4ad2fefcdb771"]]},{"id":"f7b4ad2fefcdb771","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"https://i.ibb.co/TL9jTfX/Immagine.jpg","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2400,"y":1840,"wires":[["62419d14a8e072f5"]]},{"id":"62419d14a8e072f5","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2560,"y":1840,"wires":[["c46fb9c0809b134a"]]},{"id":"c46fb9c0809b134a","type":"cast-to-client","z":"206926dcd8db3cba","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":2710,"y":1840,"wires":[[]]},{"id":"81d19450cbf34f61","type":"catch","z":"206926dcd8db3cba","name":"","scope":["922209ba57afafed"],"uncaught":false,"x":1130,"y":460,"wires":[["8bf1948d785c8fe0"]]},{"id":"d447b7c25c788d3b","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Non hai inserito nessun valore oppure hai inserito un valore errato di indirizzo IP della crhomecast.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1770,"y":460,"wires":[[]]},{"id":"69dfa31bf996ca69","type":"switch","z":"206926dcd8db3cba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"cast","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1910,"y":400,"wires":[["027a2bb0c8a2e540"]]},{"id":"56d3c3a579fc7e2f","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Che numero era?\",\"event_id\":\"actionable_notification_22\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4710,"y":680,"wires":[[]]},{"id":"133763071c74d08b","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":280,"wires":[["c12deffb0a7f0e70"]]},{"id":"2d883471ed4aaa78","type":"function","z":"206926dcd8db3cba","name":"function 11","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":280,"wires":[["133763071c74d08b"]]},{"id":"8accf9b32c5a77f6","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":620,"wires":[["f1d2d44a0bdcf094"]]},{"id":"3ce6f877952be0f3","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":700,"wires":[["c81ec87757667405"]]},{"id":"faf5caab51f8ae46","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, prossimo numero.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":620,"wires":[["b6e280c097eedc63","c7285c316c3c33ca"]]},{"id":"e464517289e051d0","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Mi dispiace, il numero raffigurato era 6, prossimo numero\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":700,"wires":[["b6e280c097eedc63"]]},{"id":"f1d2d44a0bdcf094","type":"function","z":"206926dcd8db3cba","name":"function 12","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":620,"wires":[["faf5caab51f8ae46"]]},{"id":"c81ec87757667405","type":"function","z":"206926dcd8db3cba","name":"function 13","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":700,"wires":[["e464517289e051d0"]]},{"id":"658b69b3351e23c0","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1020,"wires":[["115c6fb76f763f97"]]},{"id":"115c6fb76f763f97","type":"function","z":"206926dcd8db3cba","name":"function 14","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1020,"wires":[["f38134bd706722d7"]]},{"id":"f38134bd706722d7","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Mi dispiace, il numero raffigurato era 2, prossimo numero\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1020,"wires":[["a3d845312e1876cc"]]},{"id":"504ab0c5793fd057","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, prossimo numero.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":940,"wires":[["a3d845312e1876cc","68e09e4f9c3a816d"]]},{"id":"1108f76b56171665","type":"function","z":"206926dcd8db3cba","name":"function 15","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":940,"wires":[["504ab0c5793fd057"]]},{"id":"f480aa7f23196842","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":940,"wires":[["1108f76b56171665"]]},{"id":"51b1e1effd3c64f9","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1280,"wires":[["b92957858a2fe02a"]]},{"id":"b92957858a2fe02a","type":"function","z":"206926dcd8db3cba","name":"function 16","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1280,"wires":[["75607a907bba4d67"]]},{"id":"75607a907bba4d67","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Mi dispiace, il numero raffigurato era 7, prossimo numero\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1280,"wires":[["edf064ca2a42f405"]]},{"id":"e882e4e2fe83e4ed","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, prossimo numero.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1200,"wires":[["edf064ca2a42f405","afa3d56fe6e9d6d5"]]},{"id":"c5cf2edab7148bd0","type":"function","z":"206926dcd8db3cba","name":"function 17","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1200,"wires":[["e882e4e2fe83e4ed"]]},{"id":"aeb5ae672dad28d8","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1200,"wires":[["c5cf2edab7148bd0"]]},{"id":"03a2be6f32be9e0c","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1580,"wires":[["b23bf676b3c56a06"]]},{"id":"b23bf676b3c56a06","type":"function","z":"206926dcd8db3cba","name":"function 18","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1580,"wires":[["01c3ad835cec292b"]]},{"id":"01c3ad835cec292b","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Mi dispiace, il numero raffigurato era 5, prossimo numero\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1580,"wires":[["7fbcfefab47c6de0"]]},{"id":"164bc93a00f373a7","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, prossimo numero.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1500,"wires":[["7fbcfefab47c6de0","4d6356d0bf136172"]]},{"id":"6ff8bb2112d98cfd","type":"function","z":"206926dcd8db3cba","name":"function 19","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1500,"wires":[["164bc93a00f373a7"]]},{"id":"0201f3cb4624012b","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1500,"wires":[["6ff8bb2112d98cfd"]]},{"id":"c3e122ecb18727a3","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1880,"wires":[["bc140fcdbc5f735c"]]},{"id":"bc140fcdbc5f735c","type":"function","z":"206926dcd8db3cba","name":"function 20","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1880,"wires":[["c521da069377f95b"]]},{"id":"c521da069377f95b","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Mi dispiace, il numero raffigurato era 8, test finito!\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1880,"wires":[["8c29514fb631bf97","60ee2a3a3f2cab8d"]]},{"id":"2ed02780934e2235","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, il test è finito!\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1800,"wires":[["d084d1f714c1c1c9","60ee2a3a3f2cab8d"]]},{"id":"d155211271708886","type":"function","z":"206926dcd8db3cba","name":"function 21","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1800,"wires":[["2ed02780934e2235"]]},{"id":"d15d62da39633d84","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":750,"y":1800,"wires":[["d155211271708886"]]},{"id":"8bf1948d785c8fe0","type":"file in","z":"206926dcd8db3cba","name":"prima iterazione","filename":"/config/crhomecast.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1280,"y":460,"wires":[["67556ada96e9188a"]]},{"id":"67556ada96e9188a","type":"function","z":"206926dcd8db3cba","name":"function 26","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":460,"wires":[["d447b7c25c788d3b"]]},{"id":"c71fcefb62673227","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1690,"y":360,"wires":[["da87ad314a5e2599"]]},{"id":"ab0a8caacfab61ba","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Hai inserito un valore errato di indirizzo IP della crhomecast.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3850,"y":320,"wires":[[]]},{"id":"b173965ceef37ec3","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3290,"y":320,"wires":[["bd5b97a311b73607"]]},{"id":"bd5b97a311b73607","type":"function","z":"206926dcd8db3cba","name":"function 27","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":320,"wires":[["ab0a8caacfab61ba"]]},{"id":"a63bbd1020cc4c16","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3290,"y":420,"wires":[["145abf3b4688eacd"]]},{"id":"145abf3b4688eacd","type":"function","z":"206926dcd8db3cba","name":"function 28","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":420,"wires":[["5c188e633ff352f1"]]},{"id":"e9de1fa7cd9cb3e6","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2270,"y":400,"wires":[["9128865149ea203b"]]},{"id":"d906c92adb739fec","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":2610,"y":360,"wires":[["fa80ea629d0ba251"],["5901c85361a5d478"]]},{"id":"da87ad314a5e2599","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1940,"y":360,"wires":[["9128865149ea203b"]]},{"id":"9128865149ea203b","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2250,"y":360,"wires":[["211debc33c14d8d2"]]},{"id":"60f417a912e83049","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":360,"wires":[["c71fcefb62673227"]]},{"id":"211debc33c14d8d2","type":"function","z":"206926dcd8db3cba","name":"function 29","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2450,"y":360,"wires":[["d906c92adb739fec"]]},{"id":"027a2bb0c8a2e540","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":400,"wires":[["e9de1fa7cd9cb3e6"]]},{"id":"fa80ea629d0ba251","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2820,"y":320,"wires":[["ced306282b2f7e8f"]]},{"id":"5901c85361a5d478","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2820,"y":400,"wires":[["a6a77928954e2175"]]},{"id":"ced306282b2f7e8f","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3030,"y":320,"wires":[["b173965ceef37ec3"]]},{"id":"a6a77928954e2175","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3030,"y":400,"wires":[["a63bbd1020cc4c16"]]},{"id":"5c188e633ff352f1","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3740,"y":420,"wires":[["fae0bce66148ee75"]]},{"id":"0d5c0163c857c896","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":400,"wires":[["922209ba57afafed"]]},{"id":"57e7197822d492ed","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4440,"y":680,"wires":[["56d3c3a579fc7e2f"]]},{"id":"578651359601fd9c","type":"function","z":"206926dcd8db3cba","name":"function 30","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4230,"y":680,"wires":[["57e7197822d492ed"]]},{"id":"52cb94b07f3d96a0","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3990,"y":680,"wires":[["578651359601fd9c"]]},{"id":"73cdf66c89d74941","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3520,"y":660,"wires":[["0ddcaa4b49aa0270"]]},{"id":"41d0ddac624a36dd","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"122","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":3310,"y":620,"wires":[["0734a8c7ab0dd304"],["73cdf66c89d74941"]]},{"id":"e902bcac491619c2","type":"function","z":"206926dcd8db3cba","name":"function 31","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3150,"y":620,"wires":[["41d0ddac624a36dd"]]},{"id":"0734a8c7ab0dd304","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3520,"y":580,"wires":[["a52ad3e4642fa378"]]},{"id":"7ec8ded5b82ede01","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2950,"y":620,"wires":[["e902bcac491619c2"]]},{"id":"2ec6c8d9b4ceccec","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2970,"y":660,"wires":[["7ec8ded5b82ede01"]]},{"id":"939743eda6efd420","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2640,"y":620,"wires":[["7ec8ded5b82ede01"]]},{"id":"abfb504bd546a159","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3990,"y":580,"wires":[["400e0c6ec751a6fe"]]},{"id":"c94c1a9f733877df","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":660,"wires":[["2ec6c8d9b4ceccec"]]},{"id":"1ff51da519dc22e8","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2390,"y":620,"wires":[["939743eda6efd420"]]},{"id":"400e0c6ec751a6fe","type":"function","z":"206926dcd8db3cba","name":"function 32","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4230,"y":580,"wires":[["a4a8299e797464a0"]]},{"id":"d0fddd256830afdc","type":"switch","z":"206926dcd8db3cba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"alexa_actionable_notification/status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2610,"y":660,"wires":[["c94c1a9f733877df"]]},{"id":"0534b37a1eac671f","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":620,"wires":[["1ff51da519dc22e8"]]},{"id":"a4a8299e797464a0","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Hai inserito un valore errato di indirizzo IP della crhomecast.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4550,"y":580,"wires":[[]]},{"id":"d866e43587e661d7","type":"cast-to-client","z":"206926dcd8db3cba","name":"primo cast","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":2430,"y":660,"wires":[["d0fddd256830afdc"]]},{"id":"57600c6ddeffb13a","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"https://www.colorlitelens.com/images/Ishihara/Ishihara_02.jpg","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":660,"wires":[["d866e43587e661d7","0534b37a1eac671f"]]},{"id":"acc1d630b230bc09","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4460,"y":1000,"wires":[["de4507174b734088"]]},{"id":"534fc43f7aa201f9","type":"function","z":"206926dcd8db3cba","name":"function 33","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4250,"y":1000,"wires":[["acc1d630b230bc09"]]},{"id":"e14b66d52144b93b","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4010,"y":1000,"wires":[["534fc43f7aa201f9"]]},{"id":"e31077fa67fc441e","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3750,"y":980,"wires":[["e14b66d52144b93b"]]},{"id":"80541c4c122be206","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":980,"wires":[["e31077fa67fc441e"]]},{"id":"7ad2064c7d5456f5","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"122","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":3330,"y":940,"wires":[["cf37dc54a9458c89"],["80541c4c122be206"]]},{"id":"c028879664614920","type":"function","z":"206926dcd8db3cba","name":"function 34","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3170,"y":940,"wires":[["7ad2064c7d5456f5"]]},{"id":"cf37dc54a9458c89","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":900,"wires":[["11e919a88aec50a8"]]},{"id":"0113a6830523f8ec","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2970,"y":940,"wires":[["c028879664614920"]]},{"id":"11e919a88aec50a8","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3750,"y":900,"wires":[["82f393c8f4cb26cc"]]},{"id":"c509e27754fbc6a6","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2990,"y":980,"wires":[["0113a6830523f8ec"]]},{"id":"5a82fc3bc085edc5","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2660,"y":940,"wires":[["0113a6830523f8ec"]]},{"id":"82f393c8f4cb26cc","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4010,"y":900,"wires":[["29bf86d144a23fd0"]]},{"id":"47048d8b0e487951","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2800,"y":980,"wires":[["c509e27754fbc6a6"]]},{"id":"fc5aa3934ea5c5a3","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2410,"y":940,"wires":[["5a82fc3bc085edc5"]]},{"id":"29bf86d144a23fd0","type":"function","z":"206926dcd8db3cba","name":"function 35","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4250,"y":900,"wires":[["570748f1d2830d54"]]},{"id":"c8c964cb7c23a21a","type":"switch","z":"206926dcd8db3cba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"alexa_actionable_notification/status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2630,"y":980,"wires":[["47048d8b0e487951"]]},{"id":"081d9a98294c6c71","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":940,"wires":[["fc5aa3934ea5c5a3"]]},{"id":"570748f1d2830d54","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Hai inserito un valore errato di indirizzo IP della crhomecast.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4570,"y":900,"wires":[[]]},{"id":"7b33a56e968d1422","type":"cast-to-client","z":"206926dcd8db3cba","name":"primo cast","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":2450,"y":980,"wires":[["c8c964cb7c23a21a"]]},{"id":"f8c2601c7f0b1d33","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"https://www.colorlitelens.com/images/Ishihara/Ishihara_02.jpg","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":980,"wires":[["7b33a56e968d1422","081d9a98294c6c71"]]},{"id":"c995085713793f3c","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4520,"y":1260,"wires":[["5814476b44710f35"]]},{"id":"45e665f1b1286fda","type":"function","z":"206926dcd8db3cba","name":"function 36","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4310,"y":1260,"wires":[["c995085713793f3c"]]},{"id":"848bcec83d248e3f","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4070,"y":1260,"wires":[["45e665f1b1286fda"]]},{"id":"4dba503fb3995dda","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3810,"y":1240,"wires":[["848bcec83d248e3f"]]},{"id":"82f41bd225b40251","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3600,"y":1240,"wires":[["4dba503fb3995dda"]]},{"id":"4365483706ded16d","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"122","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":3390,"y":1200,"wires":[["ceddc4e50c965baf"],["82f41bd225b40251"]]},{"id":"99389ab273e5ea98","type":"function","z":"206926dcd8db3cba","name":"function 37","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3230,"y":1200,"wires":[["4365483706ded16d"]]},{"id":"ceddc4e50c965baf","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3600,"y":1160,"wires":[["d9ed59f122beebec"]]},{"id":"f7987807933581b5","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3030,"y":1200,"wires":[["99389ab273e5ea98"]]},{"id":"d9ed59f122beebec","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3810,"y":1160,"wires":[["361490745e56192e"]]},{"id":"cf27ec3198e5363f","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":3050,"y":1240,"wires":[["f7987807933581b5"]]},{"id":"4fe0466961385535","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2720,"y":1200,"wires":[["f7987807933581b5"]]},{"id":"361490745e56192e","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4070,"y":1160,"wires":[["9bf63b4fd1ba5382"]]},{"id":"e82123133cebcfad","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2860,"y":1240,"wires":[["cf27ec3198e5363f"]]},{"id":"0e14ce6851fa500b","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2470,"y":1200,"wires":[["4fe0466961385535"]]},{"id":"9bf63b4fd1ba5382","type":"function","z":"206926dcd8db3cba","name":"function 38","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4310,"y":1160,"wires":[["499256bb0688b59e"]]},{"id":"a291b0e3a6551c85","type":"switch","z":"206926dcd8db3cba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"alexa_actionable_notification/status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2690,"y":1240,"wires":[["e82123133cebcfad"]]},{"id":"19deeb7609809aed","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":1200,"wires":[["0e14ce6851fa500b"]]},{"id":"499256bb0688b59e","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Hai inserito un valore errato di indirizzo IP della crhomecast.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4630,"y":1160,"wires":[[]]},{"id":"9c021c968ed0bf64","type":"cast-to-client","z":"206926dcd8db3cba","name":"primo cast","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":2510,"y":1240,"wires":[["a291b0e3a6551c85"]]},{"id":"e841f9650ee6ad87","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"https://www.colorlitelens.com/images/Ishihara/Ishihara_02.jpg","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1240,"wires":[["9c021c968ed0bf64","19deeb7609809aed"]]},{"id":"e477a2e8b23dd758","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Che numero era?\",\"event_id\":\"actionable_notification_55\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4750,"y":1560,"wires":[[]]},{"id":"d7e98273a7ef40d4","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4480,"y":1560,"wires":[["e477a2e8b23dd758"]]},{"id":"df045c1a10d050f5","type":"function","z":"206926dcd8db3cba","name":"function 39","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4270,"y":1560,"wires":[["d7e98273a7ef40d4"]]},{"id":"5f2ae1e58975ba5f","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4030,"y":1560,"wires":[["df045c1a10d050f5"]]},{"id":"12dc892a0454258b","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3770,"y":1540,"wires":[["5f2ae1e58975ba5f"]]},{"id":"fd6a254c8b4b11ab","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3560,"y":1540,"wires":[["12dc892a0454258b"]]},{"id":"de5fbd2265b3a0b0","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"122","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":3350,"y":1500,"wires":[["c5506c7ea1da74e7"],["fd6a254c8b4b11ab"]]},{"id":"467168d4fee5e907","type":"function","z":"206926dcd8db3cba","name":"function 40","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3190,"y":1500,"wires":[["de5fbd2265b3a0b0"]]},{"id":"c5506c7ea1da74e7","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3560,"y":1460,"wires":[["6ef1b651d0363f4b"]]},{"id":"70d1a76ea406d4d4","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2990,"y":1500,"wires":[["467168d4fee5e907"]]},{"id":"6ef1b651d0363f4b","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3770,"y":1460,"wires":[["ca1d56bfed39cf2d"]]},{"id":"621d43898874eaa5","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":3010,"y":1540,"wires":[["70d1a76ea406d4d4"]]},{"id":"e57628af593f2a7f","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2680,"y":1500,"wires":[["70d1a76ea406d4d4"]]},{"id":"ca1d56bfed39cf2d","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4030,"y":1460,"wires":[["dad9bef24221111f"]]},{"id":"a3482d638e68972b","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2820,"y":1540,"wires":[["621d43898874eaa5"]]},{"id":"d1b3f069c32f1565","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2430,"y":1500,"wires":[["e57628af593f2a7f"]]},{"id":"dad9bef24221111f","type":"function","z":"206926dcd8db3cba","name":"function 41","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4270,"y":1460,"wires":[["d15df44ff1fa4010"]]},{"id":"4cba6c31dad8f1e1","type":"switch","z":"206926dcd8db3cba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"alexa_actionable_notification/status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2650,"y":1540,"wires":[["a3482d638e68972b"]]},{"id":"48f8ecf23b3a3c09","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":1500,"wires":[["d1b3f069c32f1565"]]},{"id":"d15df44ff1fa4010","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Hai inserito un valore errato di indirizzo IP della crhomecast.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4590,"y":1460,"wires":[[]]},{"id":"16446b9dfa801233","type":"cast-to-client","z":"206926dcd8db3cba","name":"primo cast","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":2470,"y":1540,"wires":[["4cba6c31dad8f1e1"]]},{"id":"1c065acd518c6738","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"https://www.colorlitelens.com/images/Ishihara/Ishihara_02.jpg","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":1540,"wires":[["16446b9dfa801233","48f8ecf23b3a3c09"]]},{"id":"a52ad3e4642fa378","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3730,"y":580,"wires":[["abfb504bd546a159"]]},{"id":"0ddcaa4b49aa0270","type":"file","z":"206926dcd8db3cba","name":"","filename":"/config/errore.msg","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3730,"y":660,"wires":[["52cb94b07f3d96a0"]]},{"id":"5cfe9946e94e2f0a","type":"ui_text_input","z":"206926dcd8db3cba","name":"","label":"","tooltip":"","group":"077688841874a022","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":300,"y":200,"wires":[["f8e68a14ee5cc15a"]]},{"id":"ce387dad2daacfc7","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"payload","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":200,"wires":[["4391c8c6156a7405","b90d870c128dcbcb"]]},{"id":"2de67f93f55ad4c4","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UserInput","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":200,"wires":[["ce387dad2daacfc7"]]},{"id":"2de1fb712de7252d","type":"ui_button","z":"206926dcd8db3cba","name":"","group":"077688841874a022","order":2,"width":0,"height":0,"passthru":false,"label":"IMPOSTA","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":760,"y":200,"wires":[["2de67f93f55ad4c4"]]},{"id":"f8e68a14ee5cc15a","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"UserInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["2de1fb712de7252d"]]},{"id":"938bc0c8c1b40be5","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"Sorgente","pt":"msg","to":"/config/","tot":"str"},{"t":"set","p":"Rfile","pt":"msg","to":"prova.txt","tot":"str"},{"t":"set","p":"Destinazione","pt":"msg","to":"/config/","tot":"str"},{"t":"set","p":"Dfile","pt":"msg","to":"prova_D.txt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":260,"wires":[["fe46e19ec0b227d3"]]},{"id":"fe46e19ec0b227d3","type":"fs-ops-move","z":"206926dcd8db3cba","name":"","sourcePath":"Sorgente","sourcePathType":"msg","sourceFilename":"Rfile","sourceFilenameType":"msg","destPath":"Destinazione","destPathType":"msg","destFilename":"Dfile","destFilenameType":"msg","link":false,"x":2000,"y":260,"wires":[[]]},{"id":"4391c8c6156a7405","type":"ui_text","z":"206926dcd8db3cba","group":"077688841874a022","order":2,"width":0,"height":0,"name":"","label":"Nome File","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1310,"y":140,"wires":[]},{"id":"b90d870c128dcbcb","type":"function","z":"206926dcd8db3cba","name":"function 42","func":"var c = msg.payload\nglobal.set(\"file_iniziale\", c)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":200,"wires":[["fb5b1768e8aa8b44"]]},{"id":"bc796bed02965fa8","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2080,"y":200,"wires":[[]]},{"id":"fb5b1768e8aa8b44","type":"fs-ops-access","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT","pathType":"str","filename":"payload.file","filenameType":"msg","read":true,"write":true,"throwerror":false,"x":1470,"y":200,"wires":[["0a2c14c65e22b740"],["0a2c14c65e22b740"]]},{"id":"254c84cbfa13b5dc","type":"function","z":"206926dcd8db3cba","name":"function 44","func":"var a=\"/config/ACCOUNT/\"\nmsg.file=a+msg.payload\nglobal.set(\"file\",msg.file)\nmsg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":200,"wires":[["bc796bed02965fa8","c9b33cc9df9a5c74"]]},{"id":"0a2c14c65e22b740","type":"function","z":"206926dcd8db3cba","name":"function 45","func":"var path = {}\npath = {\n    path:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":200,"wires":[["254c84cbfa13b5dc","222817984a410edf"]]},{"id":"68e09e4f9c3a816d","type":"function","z":"206926dcd8db3cba","name":"function 47","func":"var b = global.get(\"file\")\nmsg.file=b\nvar c = global.get(\"primo\")\n    c ++\n    msg.payload = c\n    var secondo = global.set(\"primo\", c)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":940,"wires":[["9345da778fdd460d"]]},{"id":"9345da778fdd460d","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1880,"y":940,"wires":[[]]},{"id":"afa3d56fe6e9d6d5","type":"function","z":"206926dcd8db3cba","name":"function 48","func":"var b = global.get(\"file\")\nmsg.file=b\nvar c = global.get(\"primo\")\n    c ++\n    msg.payload = c\n    var quarto = global.set(\"primo\", c)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":1200,"wires":[["6ef07a598552644e"]]},{"id":"6ef07a598552644e","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1900,"y":1200,"wires":[[]]},{"id":"4d6356d0bf136172","type":"function","z":"206926dcd8db3cba","name":"function 52","func":"var b = global.get(\"file\")\nmsg.file=b\nvar c = global.get(\"primo\")\n\n\n    c ++\n    msg.payload = c\n\n    var quinto = global.set(\"primo\", c)\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1500,"wires":[["549a71abf8f92204"]]},{"id":"549a71abf8f92204","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1840,"y":1500,"wires":[[]]},{"id":"c95fa60507a82d6a","type":"function","z":"206926dcd8db3cba","name":"function 54","func":"var b = global.get(\"file\")\nmsg.file=b\nvar c = global.get(\"primo\")\n\n\n\n    c ++\n    msg.payload = c\n\n    var sesto = global.set(\"primo\", c)\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":1800,"wires":[["9afc9a3739f7fae6"]]},{"id":"9afc9a3739f7fae6","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1860,"y":1800,"wires":[["a63a1831ec1de5d2"]]},{"id":"a42aac0c872ee87b","type":"function","z":"206926dcd8db3cba","name":"function 56","func":"var b = global.get(\"file\")\nmsg.file=b\nmsg.payload= 0\nvar primo = global.set(\"primo\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["8881d1f3eacfa2fb"]]},{"id":"8881d1f3eacfa2fb","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":960,"y":360,"wires":[[]]},{"id":"c7285c316c3c33ca","type":"function","z":"206926dcd8db3cba","name":"function 57","func":"var b = global.get(\"file\")\nmsg.file=b\nvar c = global.get(\"primo\")\n    c ++\n    msg.payload = c\n    var secondo = global.set(\"primo\", c)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":620,"wires":[["c8e420f6614d5602"]]},{"id":"c8e420f6614d5602","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1840,"y":620,"wires":[[]]},{"id":"6b1ca4ac6cce8708","type":"file in","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1820,"y":1880,"wires":[["135181da1f346a54"]]},{"id":"4e33b8fc7fc9a839","type":"function","z":"206926dcd8db3cba","name":"function 58","func":"var b = global.get(\"file\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":1880,"wires":[["6b1ca4ac6cce8708"]]},{"id":"c041bcf24c5d790d","type":"function","z":"206926dcd8db3cba","name":"function 59","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":1880,"wires":[["3e5fa2570b181775"]]},{"id":"135181da1f346a54","type":"function","z":"206926dcd8db3cba","name":"function 60","func":"msg.payload = msg.payload.trim()\nmsg.file = msg.payload\nglobal.set(\"risultato\",msg.file)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":1880,"wires":[["98d42be882f4e012"]]},{"id":"98d42be882f4e012","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2190,"y":1880,"wires":[["c041bcf24c5d790d"]]},{"id":"e76a79949b781575","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Il tuo punteggio è {{file}} su 6\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2810,"y":1880,"wires":[["4d0a1c4ecbe68a75"]]},{"id":"a63a1831ec1de5d2","type":"function","z":"206926dcd8db3cba","name":"function 61","func":"var b = global.get(\"file\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2270,"y":1800,"wires":[["a414e8feb1f197e9"]]},{"id":"a414e8feb1f197e9","type":"file in","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2420,"y":1800,"wires":[["815f64d0e5808ade"]]},{"id":"815f64d0e5808ade","type":"function","z":"206926dcd8db3cba","name":"function 62","func":"msg.payload = msg.payload.trim()\nmsg.file = msg.payload\nglobal.set(\"risultato\",msg.file)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1800,"wires":[["ab7d6811da71868c"]]},{"id":"ab7d6811da71868c","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2790,"y":1800,"wires":[["262723310a9595cc"]]},{"id":"262723310a9595cc","type":"function","z":"206926dcd8db3cba","name":"function 63","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2990,"y":1800,"wires":[["2ce43cefa67901df"]]},{"id":"f6b692158dd4bc4b","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Il tuo punteggio è {{file}} su 6\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3390,"y":1800,"wires":[["ef06adf7b24d09d3"]]},{"id":"2ce43cefa67901df","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3140,"y":1800,"wires":[["f6b692158dd4bc4b"]]},{"id":"3e5fa2570b181775","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2560,"y":1880,"wires":[["e76a79949b781575"]]},{"id":"2f9e4bbe33301b3e","type":"function","z":"206926dcd8db3cba","name":"function 67","func":"var b = global.get(\"file\")\nvar c = global.get(\"risultato\")\nmsg.file = b + \"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4070,"y":1800,"wires":[["dd1e1b7a64beb4b2"]]},{"id":"97a5171039a2961c","type":"change","z":"206926dcd8db3cba","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($sum($split($trim($$.payload), /\\s/).$number($)) / 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":2040,"wires":[[]]},{"id":"c35da488531e3423","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"file","vt":"msg"},{"t":"gt","v":"file","vt":"msg"},{"t":"eq","v":"file","vt":"msg"}],"checkall":"true","repair":false,"outputs":3,"x":4170,"y":1880,"wires":[["23bc90b158b4334f"],["4cf348d9fe02bb99"],["538aa8c5f544678c"]]},{"id":"8c29514fb631bf97","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":1880,"wires":[["4e33b8fc7fc9a839"]]},{"id":"d348a381076ea9bb","type":"function","z":"206926dcd8db3cba","name":"function 66","func":"var b = global.get(\"file\")\nvar c = global.get(\"primo\")\nmsg.file=b+\"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4630,"y":1840,"wires":[["6b31a7e9315a27c3"]]},{"id":"6b31a7e9315a27c3","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4800,"y":1840,"wires":[["6765a84939a7fed6"]]},{"id":"b34f96e8249496e3","type":"function","z":"206926dcd8db3cba","name":"function 70","func":"var b = global.get(\"file\")\nvar c = global.get(\"primo\")\nmsg.file=b+\"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4630,"y":1880,"wires":[["eb22f61f231651f9"]]},{"id":"eb22f61f231651f9","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4800,"y":1880,"wires":[["f6431ca4860322cb"]]},{"id":"31b4402f32cb7c9a","type":"function","z":"206926dcd8db3cba","name":"function 71","func":"var b = global.get(\"file\")\nvar c = global.get(\"primo\")\nmsg.file=b+\"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4630,"y":1920,"wires":[["df4f5032733f7924"]]},{"id":"df4f5032733f7924","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4800,"y":1920,"wires":[["9aaacbeb6e2a0201"]]},{"id":"21e3af3cfe38e3ed","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, il tuo punteggio è maggiore dell'ultima volta\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4170,"y":2080,"wires":[[]]},{"id":"b1712ac4ea9a2ee3","type":"function","z":"206926dcd8db3cba","name":"function 72","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":2080,"wires":[["211687474db1de18"]]},{"id":"5a47c8f23d373845","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3550,"y":2080,"wires":[["b1712ac4ea9a2ee3"]]},{"id":"7b7fd3c409dfd973","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Il tuo punteggio è più basso dell'ultima volta.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4170,"y":2140,"wires":[[]]},{"id":"be9060cadfa7849f","type":"function","z":"206926dcd8db3cba","name":"function 75","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":2140,"wires":[["4a585923659ddfda"]]},{"id":"641f99a17a803ade","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3550,"y":2140,"wires":[["be9060cadfa7849f"]]},{"id":"77f748a098be0cfa","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Il tuo punteggio è lo stesso.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4170,"y":2200,"wires":[[]]},{"id":"4ddb10b94260f377","type":"function","z":"206926dcd8db3cba","name":"function 78","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":2200,"wires":[["92bd03aa06c2472a"]]},{"id":"9cda3c4ac8ffd1db","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3550,"y":2200,"wires":[["4ddb10b94260f377"]]},{"id":"6765a84939a7fed6","type":"link out","z":"206926dcd8db3cba","name":"link out 1","mode":"link","links":["63ebf5637229b33d","a6ebfa37dd0cc7f4"],"x":4905,"y":1840,"wires":[]},{"id":"f6431ca4860322cb","type":"link out","z":"206926dcd8db3cba","name":"link out 2","mode":"link","links":["a36decc739434ff5","e4ca6dc645342f94"],"x":4905,"y":1880,"wires":[]},{"id":"9aaacbeb6e2a0201","type":"link out","z":"206926dcd8db3cba","name":"link out 3","mode":"link","links":["17969c4d5535f835","683edc2c95d46435"],"x":4905,"y":1920,"wires":[]},{"id":"63ebf5637229b33d","type":"link in","z":"206926dcd8db3cba","name":"link in 1","links":["6765a84939a7fed6"],"x":3395,"y":2080,"wires":[["5a47c8f23d373845"]]},{"id":"a36decc739434ff5","type":"link in","z":"206926dcd8db3cba","name":"link in 2","links":["f6431ca4860322cb"],"x":3395,"y":2140,"wires":[["641f99a17a803ade"]]},{"id":"17969c4d5535f835","type":"link in","z":"206926dcd8db3cba","name":"link in 3","links":["9aaacbeb6e2a0201"],"x":3395,"y":2200,"wires":[["9cda3c4ac8ffd1db"]]},{"id":"23bc90b158b4334f","type":"function","z":"206926dcd8db3cba","name":"function 81","func":"var b = global.get(\"file_iniziale\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4310,"y":1840,"wires":[["2781728dc442a169"]]},{"id":"4cf348d9fe02bb99","type":"function","z":"206926dcd8db3cba","name":"function 82","func":"var b = global.get(\"file_iniziale\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4310,"y":1880,"wires":[["ed38c734933055df"]]},{"id":"538aa8c5f544678c","type":"function","z":"206926dcd8db3cba","name":"function 83","func":"var b = global.get(\"file_iniziale\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4310,"y":1920,"wires":[["67caf7409f40ea4b"]]},{"id":"d084d1f714c1c1c9","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":1800,"wires":[["c95fa60507a82d6a"]]},{"id":"2781728dc442a169","type":"fs-ops-delete","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","x":4470,"y":1840,"wires":[["d348a381076ea9bb"]]},{"id":"ed38c734933055df","type":"fs-ops-delete","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","x":4470,"y":1880,"wires":[["b34f96e8249496e3"]]},{"id":"67caf7409f40ea4b","type":"fs-ops-delete","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","x":4470,"y":1920,"wires":[["31b4402f32cb7c9a"]]},{"id":"211687474db1de18","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3920,"y":2080,"wires":[["21e3af3cfe38e3ed"]]},{"id":"4a585923659ddfda","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3920,"y":2140,"wires":[["7b7fd3c409dfd973"]]},{"id":"92bd03aa06c2472a","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3920,"y":2200,"wires":[["77f748a098be0cfa"]]},{"id":"dd1e1b7a64beb4b2","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4260,"y":1800,"wires":[[]]},{"id":"51a2c29f42150d16","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3060,"y":2340,"wires":[["352a2a18c6b35ad6"]]},{"id":"352a2a18c6b35ad6","type":"function","z":"206926dcd8db3cba","name":"function 86","func":"var filename = {}\nfilename = {\n    filename: msg.payload\n}\nvar b = global.get(\"file\")\nmsg.file=b+\"1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3210,"y":2340,"wires":[["ff6bdcfc352ac992"]]},{"id":"ff6bdcfc352ac992","type":"file in","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3380,"y":2340,"wires":[["d12e4219d87c4212"]]},{"id":"d12e4219d87c4212","type":"function","z":"206926dcd8db3cba","name":"function 87","func":"msg.payload = msg.payload.trim()\nvar c = global.get(\"risultato\")\nmsg.file = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3550,"y":2340,"wires":[["2f798ec617e45301"]]},{"id":"2f798ec617e45301","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"},{"t":"set","p":"file","pt":"msg","to":"$number(file)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3740,"y":2340,"wires":[["1f04af53c46b65fb"]]},{"id":"1f04af53c46b65fb","type":"switch","z":"206926dcd8db3cba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"file","vt":"msg"},{"t":"gt","v":"file","vt":"msg"},{"t":"eq","v":"file","vt":"msg"}],"checkall":"true","repair":false,"outputs":3,"x":3910,"y":2340,"wires":[["86516a5838f4aece"],["3e64b606fce14ad5"],["853c49790dee2e2e","9bfe0a7a46cc23f1"]]},{"id":"86516a5838f4aece","type":"function","z":"206926dcd8db3cba","name":"function 88","func":"var b = global.get(\"file_iniziale\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4050,"y":2300,"wires":[["eaf7acde13074a37"]]},{"id":"3e64b606fce14ad5","type":"function","z":"206926dcd8db3cba","name":"function 89","func":"var b = global.get(\"file_iniziale\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4050,"y":2340,"wires":[["a63cabc78fae7163"]]},{"id":"853c49790dee2e2e","type":"function","z":"206926dcd8db3cba","name":"function 90","func":"var b = global.get(\"file_iniziale\")\nmsg.file=b\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4050,"y":2380,"wires":[["9b8b8d12d19ba9ac","914330c00ca7f887"]]},{"id":"eaf7acde13074a37","type":"fs-ops-delete","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","x":4210,"y":2300,"wires":[["9f771a618dec6b47"]]},{"id":"a63cabc78fae7163","type":"fs-ops-delete","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","x":4210,"y":2340,"wires":[["4a6a576f76119e08"]]},{"id":"9b8b8d12d19ba9ac","type":"fs-ops-delete","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","x":4210,"y":2380,"wires":[["fb241738c394cfe1","202516eda8b81e85"]]},{"id":"9f771a618dec6b47","type":"function","z":"206926dcd8db3cba","name":"function 91","func":"var b = global.get(\"file\")\nvar c = global.get(\"primo\")\nmsg.file=b+\"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4370,"y":2300,"wires":[["0110d81c10797a8e"]]},{"id":"4a6a576f76119e08","type":"function","z":"206926dcd8db3cba","name":"function 92","func":"var b = global.get(\"file\")\nvar c = global.get(\"primo\")\nmsg.file=b+\"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4370,"y":2340,"wires":[["345fdf671a163e43"]]},{"id":"fb241738c394cfe1","type":"function","z":"206926dcd8db3cba","name":"function 93","func":"var b = global.get(\"file\")\nvar c = global.get(\"primo\")\nmsg.file=b+\"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4370,"y":2380,"wires":[["452e1238cfd0ec74"]]},{"id":"0110d81c10797a8e","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4540,"y":2300,"wires":[["2724e888522a51cf"]]},{"id":"345fdf671a163e43","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4540,"y":2340,"wires":[["c92f7bda7f1a1185"]]},{"id":"452e1238cfd0ec74","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4540,"y":2380,"wires":[["01f6a2d87e019b5c"]]},{"id":"2724e888522a51cf","type":"link out","z":"206926dcd8db3cba","name":"link out 4","mode":"link","links":["a6ebfa37dd0cc7f4"],"x":4645,"y":2300,"wires":[]},{"id":"c92f7bda7f1a1185","type":"link out","z":"206926dcd8db3cba","name":"link out 5","mode":"link","links":["e4ca6dc645342f94"],"x":4645,"y":2340,"wires":[]},{"id":"01f6a2d87e019b5c","type":"link out","z":"206926dcd8db3cba","name":"link out 6","mode":"link","links":["683edc2c95d46435"],"x":4645,"y":2380,"wires":[]},{"id":"bb89ecfe945d90be","type":"link out","z":"206926dcd8db3cba","name":"link out 7","mode":"link","links":["fba9a965451b0dc6"],"x":4025,"y":1760,"wires":[]},{"id":"fba9a965451b0dc6","type":"link in","z":"206926dcd8db3cba","name":"link in 4","links":["bb89ecfe945d90be"],"x":2935,"y":2340,"wires":[["51a2c29f42150d16"]]},{"id":"480e1b602bfe508d","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Complimenti, il tuo punteggio è maggiore dell'ultima volta\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4190,"y":2500,"wires":[[]]},{"id":"e125127ac1eb64b6","type":"function","z":"206926dcd8db3cba","name":"function 94","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3790,"y":2500,"wires":[["27b296af336073c6"]]},{"id":"56dfaedfcac0bb5f","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3570,"y":2500,"wires":[["e125127ac1eb64b6"]]},{"id":"0d7889936f43eb60","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Il tuo punteggio è più basso dell'ultima volta.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4190,"y":2560,"wires":[[]]},{"id":"c9500c112c4436e5","type":"function","z":"206926dcd8db3cba","name":"function 95","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3790,"y":2560,"wires":[["bc45e080b654bd8d"]]},{"id":"85cb8b99cb12302e","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3570,"y":2560,"wires":[["c9500c112c4436e5"]]},{"id":"ddff01d7dfa616fc","type":"api-call-service","z":"206926dcd8db3cba","name":"","server":"809336bd.e737f8","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Il tuo punteggio è lo stesso.\",\"alexa_device\":\"media_player.{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4190,"y":2620,"wires":[[]]},{"id":"c6e51b4c268b9586","type":"function","z":"206926dcd8db3cba","name":"function 96","func":"msg.payload = msg.payload.replace(/[\\r\\n]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3790,"y":2620,"wires":[["51851252d67ade71"]]},{"id":"8e2c63e8e66cb46b","type":"file in","z":"206926dcd8db3cba","name":"","filename":"/config/alexa_device.msg","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3570,"y":2620,"wires":[["c6e51b4c268b9586"]]},{"id":"a6ebfa37dd0cc7f4","type":"link in","z":"206926dcd8db3cba","name":"link in 5","links":["6765a84939a7fed6","2724e888522a51cf"],"x":3415,"y":2500,"wires":[["56dfaedfcac0bb5f"]]},{"id":"e4ca6dc645342f94","type":"link in","z":"206926dcd8db3cba","name":"link in 6","links":["f6431ca4860322cb","c92f7bda7f1a1185"],"x":3415,"y":2560,"wires":[["85cb8b99cb12302e"]]},{"id":"683edc2c95d46435","type":"link in","z":"206926dcd8db3cba","name":"link in 7","links":["9aaacbeb6e2a0201","01f6a2d87e019b5c"],"x":3415,"y":2620,"wires":[["8e2c63e8e66cb46b"]]},{"id":"27b296af336073c6","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3940,"y":2500,"wires":[["480e1b602bfe508d"]]},{"id":"bc45e080b654bd8d","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3940,"y":2560,"wires":[["0d7889936f43eb60"]]},{"id":"51851252d67ade71","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3940,"y":2620,"wires":[["ddff01d7dfa616fc"]]},{"id":"1bf4858c111de1c3","type":"fs-ops-access","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","read":true,"write":true,"throwerror":false,"x":3850,"y":1800,"wires":[["bb89ecfe945d90be"],["2f9e4bbe33301b3e"]]},{"id":"ef06adf7b24d09d3","type":"function","z":"206926dcd8db3cba","name":"function 97","func":"var b = global.get(\"file_iniziale\")\nmsg.file = b + \"1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3660,"y":1800,"wires":[["1bf4858c111de1c3"]]},{"id":"c9b33cc9df9a5c74","type":"debug","z":"206926dcd8db3cba","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2060,"y":160,"wires":[]},{"id":"222817984a410edf","type":"debug","z":"206926dcd8db3cba","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1860,"y":160,"wires":[]},{"id":"914330c00ca7f887","type":"debug","z":"206926dcd8db3cba","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4220,"y":2440,"wires":[]},{"id":"9bfe0a7a46cc23f1","type":"debug","z":"206926dcd8db3cba","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4040,"y":2440,"wires":[]},{"id":"202516eda8b81e85","type":"debug","z":"206926dcd8db3cba","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4400,"y":2440,"wires":[]},{"id":"4d0a1c4ecbe68a75","type":"function","z":"206926dcd8db3cba","name":"function 98","func":"var b = global.get(\"file_iniziale\")\nmsg.file = b + \"1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3070,"y":1880,"wires":[["67982f7c739eaa40"]]},{"id":"67982f7c739eaa40","type":"fs-ops-access","z":"206926dcd8db3cba","name":"","path":"/config/ACCOUNT/","pathType":"str","filename":"file","filenameType":"msg","read":true,"write":true,"throwerror":false,"x":3230,"y":1880,"wires":[["036825b53a127c58"],["012875d8ba86766d"]]},{"id":"012875d8ba86766d","type":"function","z":"206926dcd8db3cba","name":"function 99","func":"var b = global.get(\"file\")\nvar c = global.get(\"risultato\")\nmsg.file = b + \"1\"\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3390,"y":1920,"wires":[["5fe4ffe1d4092437"]]},{"id":"5fe4ffe1d4092437","type":"file","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3580,"y":1920,"wires":[[]]},{"id":"036825b53a127c58","type":"delay","z":"206926dcd8db3cba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3380,"y":1880,"wires":[["1d528e0597838300"]]},{"id":"1d528e0597838300","type":"function","z":"206926dcd8db3cba","name":"function 100","func":"var filename = {}\nfilename = {\n    filename: msg.payload\n}\nvar b = global.get(\"file\")\nmsg.file=b+\"1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":1880,"wires":[["3de1256fec376606"]]},{"id":"3de1256fec376606","type":"file in","z":"206926dcd8db3cba","name":"","filename":"file","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3680,"y":1880,"wires":[["e1d880a8fd02bde0"]]},{"id":"e1d880a8fd02bde0","type":"function","z":"206926dcd8db3cba","name":"function 101","func":"msg.payload = msg.payload.trim()\nvar c = global.get(\"risultato\")\nmsg.file = c\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3830,"y":1880,"wires":[["382f03405c29f574"]]},{"id":"382f03405c29f574","type":"change","z":"206926dcd8db3cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"},{"t":"set","p":"file","pt":"msg","to":"$number(file)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4000,"y":1880,"wires":[["c35da488531e3423"]]},{"id":"809336bd.e737f8","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"6fec3559ef62b232","type":"alexa-remote-account","name":"Prova","authMethod":"proxy","proxyOwnIp":"homeassistant.local","proxyPort":"3455","cookieFile":"/config/prova.cookie","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"460284767f342b79","type":"ui_group","name":"Inserisci IP crhomecast","tab":"1e32dfe70ba2b072","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"077688841874a022","type":"ui_group","name":"Inserisci il tuo nome","tab":"1e32dfe70ba2b072","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1e32dfe70ba2b072","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
